/* @tailwind base;
@tailwind components; */
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --headerHeight: 50px;
  --headerBg: #182537;
}

.img-fill {
  object-fit: contain;
  width: 100%;
  height: 100%;

}

.custom-file-upload {
  padding: 15px 0;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: #777;
  height: 50px;
  background-color: #f9fafc;
  border: 1px dotted #777;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.block{
  background-color: #fff;
  box-shadow: 0 0 0 1px rgb(63 63 68 / 5%), 0 1px 3px 0 rgb(63 63 68 / 15%);
  border-radius: 3px;
  position: relative;
  margin-bottom: 20px;
  padding: 20px 20px 20px;
}
.input-price{
  text-align: right;
  width: 100%;
  border: 1px solid #c4cdd5;
  border-radius: 6%;
  padding: 5px;
}

main {
  height: calc(100vh - 50px);
  overflow: scroll;
}
main::-webkit-scrollbar {
  width: 5px;
}
main::-webkit-scrollbar-thumb {
  background: rgb(193 193 193);
  border-radius: 10px;
}

.addrres-table-render {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.ant-layout-header {
  padding: 0 25px!important;
}