@import "~antd/dist/antd.css";
.background-export {
  background-color: white;
  /* /* height: 50%; */
  /*width: 100%;*/
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}
.background-storage {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 30px;
}
.content-top {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.select-inventory {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 70%;
  gap: 10px;
}
.select-inventory-left {
  display: flex;
  /* justify-content: center; */
  width: 100%;
  gap: 10px;
}
.select-inventory-top {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.additional-information {
  background-color: white;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  width: 30%;
  padding: 20px;
  gap: 10px;
}
.title {
  display: flex;
  border-bottom: 1px solid rgb(219, 221, 223);
}
.title > h3 {
  font-weight: 550;
}
.title-p {
  display: flex;
}
.select-modal {
  height: 350px;
}
.menu {
  display: flex;
}
.menu-select {
  display: flex;
  width: 200%;
}
.Modal {
  display: flex;
}
.export-bottom {
  display: flex;
  flex-direction: column;
  width: 420px;
  margin-left: auto;
  /* border-top : 1px solid rgb(132, 198, 252); */
}
.export-bottom > li {
  display: flex;
  text-align: right;
  gap: 90px;
}
.footer > li {
  display: flex;
  text-align: right;
  gap: 90px;
}
.export-bottom-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: auto;
  background-color: white;
  /* border-top : 1px solid rgb(132, 198, 252); */
}
.footer {

  margin-left: 70%;
  padding: 30px;
}
.site-page-header-ghost-wrapper {
  width: 100%;
  /* background-color: #f5f5f5; */
  padding-bottom: 20px;
}
.infor:hover {
  text-decoration: underline;
}
.ant-steps-item-process
  > .ant-steps-item-container
  > .ant-steps-item-tail::after {
  background-color: #dfdcdc !important;
}
.ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-tail::after {
  background-color: #dfdcdc !important;
}
.ant-space-vertical {
  width: 100% !important;
  padding: 15px !important;
}
table#miyazaki {
  margin: 0 auto;
  border-collapse: collapse;
  font-family: Agenda-Light, sans-serif;
  font-weight: 100;
  background: #d8e0e7;
  color: rgb(0, 0, 0, 0.87);
  text-rendering: optimizeLegibility;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #ddd;
}
table#miyazaki caption {
  font-size: 2rem;
  color: #444;
  margin: 1rem;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/miyazaki.png),
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/miyazaki2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center left, center right;
}
table#miyazaki thead th {
  font-weight: 550;
}
table#miyazaki thead th,
table#miyazaki tbody td {
  padding: 0.8rem;
  font-size: 1rem;
}
table#miyazaki tbody td {
  padding: 0.8rem;
  font-size: 1rem;
  color: #444;
  background: rgb(255, 255, 255);
  text-align: center;
}
table#miyazaki tbody tr:not(:last-child) {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

@media screen and (max-width: 600px) {
  table#miyazaki caption {
    background-image: none;
  }
  table#miyazaki thead {
    display: none;
  }
  table#miyazaki tbody td {
    display: block;
    /* padding: 0.6rem; */
  }
  table#miyazaki tbody tr td:first-child {
    background: rgb(255, 255, 255);
    color: #fff;
  }
  table#miyazaki tbody td:before {
    content: attr(data-th);
    font-weight: bold;
    display: inline-block;
    width: 6rem;
  }
}
.ant-table-thead > tr > th {
  /*background-color: #d8e0e7 !important;*/
  /*font-weight: 600 !important;*/
}
