@import "~antd/dist/antd.css";
.background-export {
  background-color: white;
  /* /* height: 50%; */
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}
.background-storage {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 30px;
}
.content-top {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.select-inventory {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 70%;
  gap: 10px;
}
.select-inventory-left {
  display: flex;
  /* justify-content: center; */
  width: 100%;
  gap: 10px;
}
.select-inventory-top {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.additional-information {
  background-color: white;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  width: 30%;
  padding: 20px;
  gap: 10px;
}
.title {
  display: flex;
  border-bottom: 1px solid rgb(132, 198, 252);
}
.title-p {
  display: flex;
}
